:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --logo-text-color: #000000;
  --transparent-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* Селекторы элементов и классов с повторяющимися значениями */
h2,
h3,
a.nav-link,
.btn-filter {
  color: var(--title-text-color);
}

ul {
  list-style-type: none;
}
.hero-button,
.hero-button,
.btn-filter:hover,
.btn-filter:focus,
.hero,
.footer-section .footer-logo,
.location {
  color: var(--primary-white-color);
}
.logo-half,
.link:hover,
.link:focus,
a.current {
  color: var(--accent-color);
}
.hero-button,
.hero-button,
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
}
.hero,
.footer-section {
  background-color: var(--background-dark-color);
}
.team-section,
.btn-filter {
  background-color: var(--background-light-color);
}
/* /Селекторы элементов и классов с повторяющимися значениями */

/* Header */
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--logo-text-color);
}
.navigation-menu,
.contact-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* /Header */

/* Main content */
/* Hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}
/* /Hero */

/* About features section */
.feature {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* /About features section */

/* About services section */
.service {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}
/* /About services section */

/* About team section */
.team-section {
  font-size: 16px;
  line-height: 1.2;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
}
/* /About team section */
/* /Main content */

/* Portfolio content */
/* Portfolio filter */
.btn-filter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
/* /Portfolio filter */

/* Portfolio menu */
.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-menu {
  font-size: 16px;
  line-height: 1.9;
}
/* /Portfolio menu */
/* /Portfolio content */

/* Footer */
.location {
  font-style: normal;
}
.contact-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--transparent-color);
}
/* /Footer */
